@font-face {
  font-family: MonumentExtendedReg;
  src: url("../fonts/MonumentExtended-Regular.otf");
}

@font-face {
  font-family: MonumentExtendedReg2;
  src: url("../fonts/MonumentExtended-Regular.otf");
}

.BannerTextContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.BannerTextContainer > * {
  margin: 10px 0;
}

@media only screen and (max-width: 425px) {
    .BannerContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.vultureboy:hover {
  transition: 1s ease-in-out;
  color: rgb(190, 190, 190);
  cursor: pointer ;
}